version: '3.8'
services:
  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongo-data:/data/db
    ports:
      - '27017:27017'
  server:
    build: ./
    environment:
      - MONGO_URI=mongodb://mongo:27017/ai_school
      - JWT_SECRET=change_this
      - CLIENT_URL=http://localhost:3000
    ports:
      - '5000:5000'
    depends_on:
      - mongo
volumes:
  mongo-data:
